* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Baskerville", serif;
    color: #2b2b2b;
}

header, .sobre, .projetos {
    padding: 30px 25px 40px 25px;
}

header h1 {
    font-size: 40px;
}

header p {
    font-style: italic;
}

div h1 {
    font-size: 25px;
}

.linha-fundo-titulo {
    display: inline;
    position: relative;
}

.linha-fundo-titulo::after{
    content:"";
    display: block;
    height: 15px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    background: #2b2b2b96;
    opacity: .3;
}

/* Estilos da seção "Sobre" */

.sobre {
    background-color: #f1f1f1;
}

.sobre p {
    text-indent: 25px;
    margin-bottom: 5px;
}

.sobre-container {
    margin-top: 10px;
}

.sobre-container div {
    display: inline-block;
}

.sobre-descricao {
    width: 45%;
}

.links-redes-sociais {
    float: right;
    width: 45%;
}

.topicos-links-redes-sociais p {
    margin-bottom: 10px;
    text-align: right;
}

.icones-links-redes-sociais a{
    display: block;
    margin: 5px;
    width: fit-content;
}

/*  Estilos de links */

.ufopa-link{
    text-decoration: none;
    color: rgb(14, 85, 151);
}

.github-link {
    text-decoration: none;
    padding: 2px 5px;
    background-color: #2dba4e;
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    text-indent: 0px;
}

.fa-github {
    margin-left: 10px;
}

.instagram-link {
    text-decoration: none;
    padding: 2px 5px;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: #fff;
    text-indent: 0px;
}

.fa-instagram {
    margin-left: 10px;
}

.e-mail-link {
    text-decoration: none;
    padding: 2px 5px;
    background-color: rgba(74, 165, 207, 0.87);
    border-radius: 5px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}

.fa-envelope {
    text-indent: 0px;
    margin-left: 10px;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projeto-item {
    flex: 1fr;
    width: 45%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    border-top: 1px solid #2b2b2b27;
}

.projeto-item > p {
    margin-top: 10px;
    margin-bottom: 30px;
    padding-left: 10px;
    text-indent: 25px;
}



.projeto-titulo {
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
}

.projeto-descricao {
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.projeto-descricao p {
    text-indent: 25px;
    margin-top: 5px;
}

.projeto-imagem {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 20px 20px;
    border: 1px solid #2b2b2b27;
    padding: 10px 0;
}

.projeto-imagem img {
    width: 80%;
}